<div class="navbar">
  <h2>Role-Based Access Control (RBAC)</h2>
</div>
<div class="login-container">
  <form
    *ngIf="activeForm === 'login'"
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  >
    <h2>Login</h2>
    <div class="form-group">
      <input type="text" placeholder="Email" formControlName="email" />
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <button type="submit">Login</button>
    <p (click)="toggleForm('register')">
      Don't have an Account?
      <span class="highlighted">Register</span>
    </p>
  </form>

  <form
    *ngIf="activeForm === 'register'"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
  >
    <h2>Register</h2>
    <div class="form-group">
      <input type="text" placeholder="Username" formControlName="username" />
    </div>
    <div class="form-group">
      <input type="text" placeholder="Email" formControlName="email" />
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <button type="submit">Register</button>
    <p (click)="toggleForm('login')">
      Already Have an Account?
      <span class="highlighted">Login</span>
    </p>
  </form>
</div>
